﻿

<section id="HomePage">
    <div id="home-slider">
        <div class="slide-item">
            <img src="images/hp1.jpg " style="" alt="" />
            <div class="slide-wrap" style=" height:250px;width:580px;margin-left:640px;">
                <img src="images/GIF-1.gif" style="height:300px; width:550px;margin-top:70px;" alt="digital-prod"/>
            </div>
        </div>
        <div class="slide-item">
            <img src="images/hp1.jpg" alt=""/>
            <div class="slide-wrap" style="height:250px;width:500px;margin-left:640px;">
                <img src="images/GIF-1.gif-2.gif" style="height:280px;width:550px; margin-top:85px;"  alt="creative-team"/>
            </div>
        </div>
    </div>
</section>
<div id="addCart">
    <img src="images/addCart.png" style="height:50px;width:50px;" />
</div>
<section id="About">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title text-center">
                    <h2 style=" font-family: 'Raleway', sans-serif;">WHO WE ARE</h2>
                    <hr style="width:100px; border: 2px solid #530031;">
                    <p class="fw-300">
                        We are an innovative company. We develop and design <span class="typed-words colored-text fw-400" data-strings="[&quot;animations&quot;, &quot;graphics&quot;, &quot;websites&quot;]"  ></span> for
                        <br>costumers around the world. Our clients are some of the most forward-looking companies in the world.
                    </p>
                </div>
                <div class="section-content text-center pt-25">
                    <a class="btn btn-bordered upper no-radius" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="grey-bg" id="Service">
    <div class="container title text-center">
        <h2 style=" font-family: 'Raleway', sans-serif;text-align:center;margin-top:-50px; ">WHAT WE DO</h2>
        <hr style="width:100px; border: 2px solid #530031;">
        <div class="row">
            <div class="col-sm-3 col-sm-6" style="margin-top:15px; ">
                <div style="width:100px;height:100px;text-align: center;background-color:white; border-radius:100%;box-shadow:  1px 1px 1px lightgray;margin:auto;">
                    <img src="images/Asset11.png" style="height:50px;width:40px; margin-top:25px;">
                </div>

                <h4 style="font-family: 'Raleway', sans-serif; margin-top:30px;" >
                    2D & 3D ANIMATIONS
                </h4>
                <p style="margin-top:30px;">
                    Explainer Videos,WhiteBorad Animation,Motion Graphics,Demo Whiteboard,whatever you call them,our videos are eye catching,informative,professionals and communicate the essanse of the company.product services or ideas
                </p>
                <a class="btn btn-bordered upper no-radius" href="#" style="border-width:1px ; ">Read More</a>
            </div>
            <div class="col-sm-3 col-sm-6" style="margin-top:15px;">
                <div style="width: 110px; height:110px; text-align:center;background-color:white; border-radius:100%; box-shadow: 1px 1px 1px  lightgray; margin:auto;">
                    <img src="images/Asset12.png"  style="height:45px; width:50px; margin-top:32px;" >
                </div>
                <h4 style="font-family: 'Raleway', sans-serif;margin-top:30px;">
                    WEB DEVELOPMENT
                </h4>
                <p style="margin-top:30px;">
                    Explainer Videos,WhiteBorad Animation,Motion Graphics,Demo Whiteboard,whatever you call them,our videos are eye catching,informative,professionals and communicate the essanse of the company.product services or ideas

                </p>
                <a class="btn btn-bordered upper no-radius" href="#"style="border-width:1px">Read More</a>
            </div>
            <div class="col-sm-3 col-sm-6" style="margin-top:15px;">
                <div style="width: 110px; height:110px; text-align:center;background-color:white; border-radius:100%; box-shadow: 1px 1px 1px lightgray; margin:auto;">
                    <img src="images/Asset14.png" style="height:45px; width:45px; margin-top:30px;"/>
                </div>
                <h4 style="font-family: 'Raleway', sans-serif; margin-top:30px;">
                    GRAPHIC DESIGNING
                </h4>
                <p style="margin-top:30px;">
                    Explainer Videos,WhiteBorad Animation,Motion Graphics,Demo Whiteboard,whatever you call them,our videos are eye catching,informative,professionals and communicate the essanse of the company.product services or ideas
                </p>
                <a class="btn btn-bordered upper no-radius" href="#" style="border-width:1px;">Read More</a>
            </div>
            <div class="col-sm-3 col-sm-6" style="margin-top:15px;">
                <div style="width: 110px; height:110px; text-align:center;background-color:white; border-radius:100%; box-shadow: 1px 1px 1px lightgray; margin:auto;">
                    <img src="images/Asset15.png" style="height:45px; width:40px; margin-top:30px; margin-left:12px;" >
                </div>
                <h4 style="font-family: 'Raleway', sans-serif; margin-top:30px;">
                    ARTICLE WRITING
                </h4>
                <p style="margin-top:30px;">
                    Explainer Videos,WhiteBorad Animation,Motion Graphics,Demo Whiteboard,whatever you call them,our videos are eye catching,informative,professionals and communicate the essanse of the company.product services or ideas
                </p>
                <a class="btn btn-bordered upper no-radius" href="#" style="border-width:1px;">Read More</a>
            </div>

        </div>

    </div>

</section>

<section class="dark-bg pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6" >
                <div class="counter" data-animation="zoomIn">
                    <div class="counter-icon">
                        <div class="animated-icon colored" data-icon="images/Asset16.png"/></div>
                </div>
                <div class="counter-content" style="margin-bottom:50px;">
                    <h5><span class="number-count" data-count="136" style="font-family: 'Raleway', sans-serif;">136</span></h5><span  style="font-size:20px;">Satisfied Clients</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="counter" data-animation="zoomIn" data-delay="300">
                <div class="counter-icon">
                    <div class="animated-icon colored" data-icon="images/Asset17.png" /></div>
            </div>
            <div class="counter-content">
                <h5><span class="number-count" data-count="178" style="font-family: 'Raleway', sans-serif;">178</span></h5><span  style="font-size:20px;">Projects a Year</span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="counter" data-animation="zoomIn" data-delay="600">
            <div class="counter-icon">
                <div class="animated-icon colored" data-icon="images/Asset18.png" /></div>
        </div>
        <div class="counter-content">
            <h5><span class="number-count" data-count="687" style="font-family: 'Raleway', sans-serif;">687</span></h5><span  style="font-size:20px;">Support Tickets</span>
        </div>
    </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="counter" data-animation="zoomIn" data-delay="900">
            <div class="counter-icon">
                <div class="animated-icon colored" data-icon="images/Asset19.png" /></div>
        </div>
        <div class="counter-content">
            <h5><span class="number-count" data-count="190" style="font-family: 'Raleway', sans-serif; ">190</span></h5><span style="font-size:20px;">Blog Posts</span>
        </div>
    </div>

</section>
<section class="pb-0 b-0" id="portfolio">

    <div class="container-fluid" >
        <div class="title text-center">
            <h2  style= "font-family: 'Raleway', sans-serif;" >OUR WORKS</h2>
            <hr style="width:100px; border: 2px solid #530031;"  >
        </div>
        <div class="row pt-50">
            <ul id="filters">

                <li data-filter =".web">Web Design</li>
                <li data-filter=".ui-ux">UI/UX DESIGN</li>
                <li data-filter=".logo">Animation</li>
                <li data-filter=".card">GRAPHIC DESIGN</li>
                <li  data-filter=".all"></li>
            </ul>
            <div class="enable-animation four-col" id="works-grid" style="margin:100px; width:100%;">
                <div class="work-item web  all">
                    <div class="work-detail">
                        <a href="#">
                            <img src="images/web1.jpg" alt="">

                        </a>
                    </div>
                </div>
                <div class="work-item web all">
                    <div class="work-detail">
                        <a href="#">
                            <img src="images/web2.jpg" alt="">

                        </a>
                    </div>
                </div>
                <div class="work-item web  all">
                    <div class="work-detail">
                        <a href="#">
                            <img src="images/web3.jpg" alt="">


                        </a>
                    </div>
                </div>
                <div class="work-item web all ">
                    <div class="work-detail">
                        <a href="#">
                            <img src="images/web4.jpg" alt="">

                        </a>
                    </div>
                </div>
                <div class="work-item web all ">
                    <div class="work-detail">
                        <a href="#">
                            <img src="images/web5.jpg" alt="">

                        </a>
                    </div>
                </div>
                <div class="work-item web all">
                    <div class="work-detail">
                        <a href="#">
                            <img src="images/web6.jpg" alt="">

                        </a>
                    </div>
                </div>
                <div class="work-item web all ">
                    <div class="work-detail">
                        <a href="#">
                            <img src="images/web7.jpg" alt="">

                        </a>
                    </div>
                </div>
                <div class="work-item web all">
                    <div class="work-detail">
                        <a href="#">
                            <img src="images/web8.jpg"  alt=""/>

                        </a>
                    </div>
                </div>

                <div class="enable-animation four-col" id="works-grid">
                    <div class="work-item ui-ux all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/ui1.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item ui-ux all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/ui2.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item ui-ux all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/ui3.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item ui-ux all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/ui4.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item ui-ux all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/ui5.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item ui-ux all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/ui6.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item ui-ux all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/ui7.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item ui-ux all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/ui8.jpg" alt="" />

                            </a>
                        </div>
                    </div>

                </div>
                <div class="enable-animation four-col" id="works-grid">
                    <div class="work-item logo all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/Logo-01.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="work-item logo all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/Logo-02.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item logo all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/Logo-03.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item logo all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/Logo-04.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item logo all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/Logo-05.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item logo all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/Logo-06.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item logo all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/Logo-07.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item logo all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/Logo-08.jpg" alt="" />

                            </a>
                        </div>
                    </div>
                </div>
                <div class="enable-animation four-col" id="works-grid">
                    <div class="work-item card all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/card1.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item card all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/card2.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item card all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/card3.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item card all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/card4.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item card all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/card5.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item card all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/card6.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item card all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/card7.jpg" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="work-item card all">
                        <div class="work-detail">
                            <a href="#">
                                <img src="images/card8.jpg" alt="" />
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="grey-bg" id="team">
    <div class="container">
        <div class="title text-center">
            <h2 style= "font-family: 'Raleway', sans-serif; font-weight:bold;">OUR TEAM</h2>
            <hr  style="width:100px; border: 2px solid #530031;">
        </div>
        <div class="section-content pt-25 pb-25">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member" data-animation="fadeInUp">
                        <div class="team-image">
                            <img src="images/Mhr Zahid.jpg" alt=""/>
                        </div>
                        <div class="team-overlay">
                            <div class="team-info">
                                <h4>MHR ZAHID</h4><span>CEO WegiGo.com</span>
                                <ul class="team-social">
                                    <li>
                                        <a href="https://www.facebook.com/zahid.nawaz.3785" target="_blank"><i class="hc-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/mhrzahid_wagigo/" target="_blank"><i class="hc-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/mmzaidii333" target="_blank"><i class="hc-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member" data-animation="fadeInUp" data-delay="300">
                        <div class="team-image">

                            <img src="images/Chudhry Tauseef.jpg" alt=""/>
                        </div>
                        <div class="team-overlay">
                            <div class="team-info">
                                <h4>CHUDHRY TUASEEF</h4><span>MANAGING DIRECTOR</span>
                                <ul class="team-social">
                                    <li>
                                        <a href="https://www.facebook.com/Ch.Tauseef.Iqbal" target="_blank"><i class="hc-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/tauseef_ch/" target="_blank"><i class="hc-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/Tauseef_SGD" target="_blank"><i class="hc-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member" data-animation="fadeInUp" data-delay="600">
                        <div class="team-image">

                            <img src="images/Najaf Ali.jpg" alt=""/>
                        </div>
                        <div class="team-overlay">
                            <div class="team-info">
                                <h4>NAJAF ALI</h4><span>PROJRCT MANAGER</span>
                                <ul class="team-social">
                                    <li>
                                        <a href="https://www.facebook.com/najafali.gohar" target="_blank"><i class="hc-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/goharragnaer/" target="_blank"><i class="hc-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/NajafAl70133080" target="_blank"><i class="hc-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member" data-animation="fadeInUp" data-delay="900">
                        <div class="team-image">

                            <img src="images/Ahsan Iqbal.jpg"  alt=""/>
                        </div>
                        <div class="team-overlay">
                            <div class="team-info">
                                <h4>AHSAN IQBAL</h4><span>CHIEF ADVISER</span>
                                <ul class="team-social">
                                    <li>
                                        <a href="https://www.facebook.com/humma.tabassum.7" target="_blank"><i class="hc-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/hummawagigo/" target="_blank"><i class="hc-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/TabasumHumma" target="_blank"><i class="hc-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dark-bg" style="height:200px;">
    <div class="container" style="text-align:center">
        <h2 style="position:relative;color:white;margin-top:-30px;  font-family: 'Raleway', sans-serif;" font-size:30px;">SATISFIED CLIENTS<br /><hr style="width:100px; border: 1.9px solid white;"></h2>

    </div>

</section>

<section class="parallax-section" id="Clients">
    <div class="row-parallax-bg">
        <div class="parallax-wrapper">
            <div class="parallax-bg">
                <img src="images/bg-image-4.jpg" alt=""/>
            </div>
            <div class="parallax-overlay"></div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top:-60px;">

            <div class="section-content">
                <div class="testimonials-slider">
                    <div class="testimonial">
                        <div class="testimonial-content" style="background-color:white;color:black; height:400px;">
                            <div class="testimonial-comment">
                                <br />
                                <h4>Jacit</h4><br /><span class="testimonial-info">(USA)</span>
                                <p>"These guys are amazing professional who does exactly what They say and with great quality,
                                    fantastic communication, and great expertise.. I have really enjoyed working with
                                    Them on this project and plan to hire them again for all my future work!”</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content" style="background-color:white;color:black; height:400px;">
                            <div class="testimonial-comment">
                                <br />
                                <h4>Nicksourceeu</h4><br /><span class="testimonial-info">(UK)</span>
                                <p>  "Zahid was very good at understanding and delivering the project,
                                    I would recommend him and hope to work with Zahid again. Thank-you."</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content" style="background-color:white;color:black; height:400px;">
                            <div class="testimonial-comment">
                                <br />
                                <h4>Skool12</h4><br /><span class="testimonial-info">(Curacao)</span>
                                <p>
                                    "We are very delight with their work.
                                    Our satisfaction level is 100%. thank you so much for your creativity and outstanding dedication.
                                    I will definitely work with you AGAIN!!!! I recommend THEM!!!"

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content" style="background-color:white;color:black; height:400px;">
                            <div class="testimonial-comment">
                                <br />
                                <h4>CSDD</h4><br /><span class="testimonial-info">(Germany)</span>
                                <p>
                                    "Zahid and his friends are able to deliver the work in the highest quality and did a brilliant job!"
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content" style="background-color:white;color:black; height:400px;">
                            <div class="testimonial-comment">
                                <br />
                                <h4>Ltierney</h4><br /><span class="testimonial-info">(Australia)</span>
                                <p>
                                    "Excellent work! Client was blown away. Fantastic communication. Would definitely hire again!"
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content" style="background-color:white;color:black; height:400px;">
                            <div class="testimonial-comment">
                                <br />
                                <h4>Ruchikadias </h4><br /><span class="testimonial-info">(India)</span>
                                <p>
                                    "Zahid made a 2-D animation video for my business. He was very professional and his charges
                                    were reasonable. Work was done on time and was of good quality."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="height:200px;">
    <div class="container" style="text-align:center">
        <h2 style="position:relative;color:black;margin-top:auto; font-family: 'Raleway', sans-serif; font-weight:bold;">GET IN TOUCH<br /><hr style="width:100px; border: 2px solid #530031;" /></h2>

    </div>

</section>

<section class="jumbotron" id="contact">
    <div class="container">
        <div class="col-md-5 col-sm-12">
            <div class="title">

                <h4>Let's work together.</h4>
            </div>
            <div class="row pt-25 pb-25">
                <div class="container-fluid">
                    <form id="contact-form" action="index" method="POST">
                        <div class="form-group" data-animation="fadeInRight">
                            <label>Your Name</label>
                            <input class="form-control" type="text" name="Name" data-required>
                        </div>
                        <div class="form-group" data-animation="fadeInRight">
                            <label>Your Email</label>
                            <input class="form-control" type="email" name="Subject" data-required>
                        </div>
                        <div class="form-group" data-animation="fadeInRight">
                            <label>Phone Number</label>
                            <input class="form-control" type="text" name="Phno">
                        </div>
                        <div class="form-group" data-animation="fadeInRight">
                            <label>Your Message</label>
                            <textarea class="form-control" name="Body" data-required></textarea>
                        </div>
                        <div class="form-group mt-25" data-animation="fadeInRight">
                            <button class="btn btn-color" type="submit" style="background-color:#530031">Send Now!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-2" id="con">
            <div class="vl" style="margin-left:140px; margin-top:70px; width:3px; background-color :#530031">
            </div>

        </div>
        <div class="col-sm-4" id="phone">
            <div style="text-align:center">
                <div style="height:200px;width:300px;margin-left:120px; background-color:lightgray; padding-top:50px; margin-top:90px;">

                    <img src="images/phone.png" style="height:20px; width:20px;" />
                    <h5>CALL US</h5>

                    <sm>+92-305-5474778</sm>
                    <br />
                    <sm>+92-341-4408854</sm>

                </div>
            </div>
            <br />
            <div style="text-align:center">

                <div style="height:200px;width:300px; margin-left:120px;background-color:lightgray; padding-top:50px; margin-top:20px;">

                    <img src="images/email.png" style="height:30px; width:30px;" />
                    <h5>EMAIL US</h5>

                    <sm>wagigo@biz.com</sm>
                    <br />
                    <sm>mhrzahid@biz.com</sm>
                </div>
            </div>
        </div>



    </div>






</section>