<footer id="footer">
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <figure class="footer-logo mb-15">

                            <img src="images/logowolf.png" style="height:80px;width:80px;"/>
                        </figure>
                        <div class="textwidget">
                            <p>
                                Sargodha
                                <br>Pakistan, Sgd 10118
                            </p>
                            <p>
                                hello@WegiGo.co
                                <br>+92-305-5474778
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <a href="#HomePage">Home</a>
                                </li>
                                <li>
                                    <a href="#About">About Us</a>
                                </li>
                                <li>
                                    <a href="#Service">What We Do</a>
                                </li>
                                <li>
                                    <a href="#portfolio">Portfolio</a>
                                </li>
                                <li>
                                    <a href="#team">Our Team</a>
                                </li>
                                <li>
                                    <a href="Index">Our Clients</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h5>Recent Posts</h5>
                        <div class="menu-footer">
                            <ul>
                                <li>
                                    <a href="#">You Can’t Handle Truth</a>
                                </li>
                                <li>
                                    <a href="#">How To Add Value To Your Life</a>
                                </li>
                                <li>
                                    <a href="#">A Letter to My 12-Year-Old Self</a>
                                </li>
                                <li>
                                    <a href="#">Weak Words Kill Experiences</a>
                                </li>
                                <li>
                                    <a href="#">An Almost Static Stack</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h5>Popular Tags</h5>
                        <div class="tagcloud">
                            <a href="#">Business</a><a href="#">Design</a><a href="#">Development</a><a href="#">Inspiration</a><a href="#">Lifestyle</a><a href="#">Tips</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="social-list">
                        <li class="social-item-linkedin">
                            <a target="_blank" href="#"><i class="hc-linkedin"></i></a>
                        </li>
                        <li class="social-item-facebook">
                            <a target="_blank" href="#"><i class="hc-facebook"></i></a>
                        </li>
                        <li class="social-item-twitter">
                            <a target="_blank" href="#"><i class="hc-twitter"></i></a>
                        </li>
                        <li class="social-item-pinterest">
                            <a target="_blank" href="#"><i class="hc-pinterest"></i></a>
                        </li>
                        <li class="social-item-instagram">
                            <a target="_blank" href="#"><i class="hc-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="copy-text">
                        <p>© 2019 WegiGo. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>